{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"> <!---Character encoding-->
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0"> <!--For Different device (Compatibility)-->

    <!-- External Libraries-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title> Navbar</title>

</head>

<body>
    <!---------------------------NAVIGATION BAR------------------------------>
    <section id="nav-bar">
        <div class="container"> 
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 80px;">
                <div class="container-fluid">
                    <a class="navbar-brand-sell" href="{% url 'products' %}" style="text-decoration: none;">UniTrade</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    </div>
                </div>
            </nav>
        </div>
    </section>


    <section id="Current-Listings">

        <div class="container-listing">


            <div class ="row">

                <div class = "col-md-3">
                    <div class="card">
                        <div class="card-header">
                          Department
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                           <a href="{% url 'current' %}">All</a>
                          </li>
    
                          {% for department in departments %}
                          <li class="list-group-item">
                            <a href="{% url 'current' %}?department={{department.name}}">
                                {{department.name}} 
                            </a>
                          </li>
                          {% endfor %}
                          
            
                          
                        </ul>
                      </div>
    
    
                </div>
                <div class = "col-md-9">
                    <div class="row">
    

                        {% for product in products %}
                       
                            {% if product.userID == '1' %}
                               
                                {% for productimage in productimages %}

                                    {% if productimage.product_id == product.product_id %}
                                                                          

                                    <div class="col-md-4">
                                        <div class="card my-2">
                                            <img class="card-img-top"
                                                src="/images/{{ productimage.imageURL }}"
                                                alt="loading">
                                            <div class="card-body">
                                                <small>{{ productimage.imageID }}</small>
                                            </div>
                                            <a href="{% url 'item' productimage.imageID %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                                        </div>
                                    </div>


                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                        
                            {% empty %}
                            <h3>No Current Listing... </h3>
                        {% endfor %} 
                        
                    </div>
                </div>
                    


                    <div class="col d-flex justify-content-center align-items-center">
                    <a href="{% url 'condition' %}" class="icon-link d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
                        <i class="fas fa-plus mb-1"></i> <!-- Plus icon -->
                    </a>
                </div>
            </div> 
           </div>              
        </div>
    </section>
    <br>
    <br>


    <!-------Footer------->
    <section id = "footer">
      <div class = "container text-center">
          <p>Made by adamazmy2</p>
      </div>
  
  </section>
  </body>
  </html>
    